@using Kitenest.ViewModels

@model SchoolsViewModel
@*

            For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Search Results";

    var itemNmb = 1;

}

<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Schools)
        {
            var itemId = ("item" + $"{itemNmb.ToString()}");
            var itemIdHash = ("#item" + $"{itemNmb.ToString()}");


            <tr data-toggle="collapse" data-target=@itemIdHash class="accordion-toggle">
                <td>
                    @itemNmb
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Continent.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                @*
                    <td class="text-error"></td>
                    <td class="text-success">$150.00</td>
                *@
            </tr>
            <tr>
                <td colspan="6" class="hiddenRow">
                    <div class="accordian-body collapse" id=@itemId>
                        # - @itemNmb
                        Name - @Html.DisplayFor(modelItem => item.Name)
                        Continent - @Html.DisplayFor(modelItem => item.Continent.Name)
                        Country - @Html.DisplayFor(modelItem => item.Country)
                        City - @Html.DisplayFor(modelItem => item.City.Name)
                    </div>
                </td>
            </tr>

            @(itemNmb++)
        }


    </tbody>
</table>
<pagination current-page="@Model.CurrentPage" , total-pages="@Model.TotalPages"
            route-url="@Url.RouteUrl("kitenest",  new {
                      schoolName = ViewContext.RouteData.Values["schoolName"],
                      continent = ViewContext.RouteData.Values["continent"],
                      country = ViewContext.RouteData.Values["country"],
                      city = ViewContext.RouteData.Values["city"]})" />

